.login-form{

  width: 400px;
  margin:0 auto;
  margin-top: 111px;
  text-align: center;
  .fade-line {
    height: 1px;
    margin:23px 0;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%,#979797));
}
  h3{
    color: #4a4a4a;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
  }
  .form-control{
    border: 1px solid #e9eff4;
background-color: #ffffff;
  }
}
