<div class="row left-menu">
  <div class="col">
    <!-- <ul class="nav nav-pills">
      <li routerLinkActive="active"> <a [routerLink]="['/weather']">Weather</a></li>
      <li routerLinkActive="active"> <a [routerLink]="['/movie']">Movie Details</a></li>
      <li routerLinkActive="active"> <a [routerLink]="['/currency']">Currency Rates</a></li>
    </ul> -->
    <img class="main-logo" src="/assets/images/llook-logo.png" alt="">
    <ul class="nav flex-column ">
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link active" [routerLink]="['/weather']"><img src="/assets/images/refresh-icon.svg" alt=""></a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/movie']"><img src="/assets/images/keypad-icon.png" alt=""></a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/currency']"><img src="/assets/images/products-icon.png" alt=""></a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/currency']"><img src="/assets/images/events-icon.png" alt=""></a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/currency']"><img src="/assets/images/press-icon.png" alt=""></a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/currency']"><img src="/assets/images/media-icon.png" alt=""></a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/currency']"><img src="/assets/images/user-icon.png" alt=""></a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/currency']"><img src="/assets/images/more-icon.png" alt=""></a>
      </li>

    </ul>
  </div>
</div>
