<div class="home-page">
    <ul class="nav flex-column ">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link active" [routerLink]="['/home']"> <i class="fa fa-angle-left" aria-hidden="true"></i>Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/movie']"> <i class="fa fa-angle-left" aria-hidden="true"></i>Dashboard</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/currency']"> <i class="fa fa-angle-left" aria-hidden="true"></i>Products</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/currency']"> <i class="fa fa-angle-left" aria-hidden="true"></i>Events</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/currency']"> <i class="fa fa-angle-left" aria-hidden="true"></i>Press Center</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/currency']"> <i class="fa fa-angle-left" aria-hidden="true"></i>Media Coverage</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/currency']"> <i class="fa fa-angle-left" aria-hidden="true"></i>Contacts</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/currency']"> <i class="fa fa-angle-left" aria-hidden="true"></i>Settings</a>
        </li>

    </ul>

</div>